# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Area shapefiles
/server/shapefiles/

__pycache__
.idea
.git
venv
doc
data
csv
xml