# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Area shapefiles
/server/shapefiles/GSA_Federal_Locations
/server/shapefiles/ICES_areas
/server/shapefiles/ICES_Areas_maps
/server/shapefiles/ICES_rectangles
/server/shapefiles/*.zip

__pycache__
.idea
.git
venv
doc
data
csv
xml